<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <!-- Models -->
        <!-- Manage Models -->
        <bean id="artistModel" class="shared.manage.Artist" scope="prototype" />
        <bean id="albumModel" class="shared.manage.Album" scope="prototype" />
        <bean id="musicModel" class="shared.manage.Music" scope="prototype" />

    <!-- Services -->
        <bean id="registerService" class="webserver.services.RegisterService" />

        <!-- Search Services -->
        <bean id="artistSearchService" class="webserver.services.search.ArtistSearchService" />
        <bean id="albumSearchService"  class="webserver.services.search.AlbumSearchService" />
        <bean id="musicSearchService"  class="webserver.services.search.MusicSearchService" />

        <!-- Manage Services -->
        <bean id="addArtistService" class="webserver.services.manage.AddArtistService" />
        <bean id="addAlbumService"  class="webserver.services.manage.AddAlbumService" />
        <bean id="addMusicService"  class="webserver.services.manage.AddMusicService" />



    <!-- Actions -->
        <bean id="registerAction" class="webserver.actions.RegisterAction" scope="prototype">
            <property name="registerService" ref="registerService" />
        </bean>


        <!-- Search Actions -->
        <bean id="artistSearchAction" class="webserver.actions.SearchAction" scope="prototype">
            <property name="inputObject" ref="artistModel" />
            <property name="searchService" ref="artistSearchService" />
        </bean>

        <bean id="albumSearchAction" class="webserver.actions.SearchAction" scope="prototype">
            <property name="inputObject" ref="albumModel" />
            <property name="searchService" ref="albumSearchService" />
        </bean>

        <bean id="musicSearchAction" class="webserver.actions.SearchAction" scope="prototype">
            <property name="inputObject" ref="musicModel" />
            <property name="searchService" ref="musicSearchService" />
        </bean>


        <!-- Manage Actions -->
        <bean id="addArtistAction" class="webserver.actions.ManageAction" scope="prototype">
            <property name="manageService" ref="addArtistService" />
            <property name="manageModel" ref="artistModel" />
        </bean>

        <bean id="addAlbumAction" class="webserver.actions.ManageAction" scope="prototype">
            <property name="manageService" ref="addAlbumService" />
            <property name="manageModel" ref="albumModel" />
        </bean>

        <bean id="addMusicAction" class="webserver.actions.ManageAction" scope="prototype">
            <property name="manageService" ref="addMusicService" />
            <property name="manageModel" ref="musicModel" />
        </bean>

</beans>



